.header{
  height: 400px;
  width : 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #005f66;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
}
.header p {
  color: aliceblue;
  font-size: 1.5em;
}

@media only screen and (min-width : 1024px) {
  .header{
    width: 800px;
    align-self: unset;
    margin-top: 160px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
