nav {
  display: flex !important;
  justify-content: space-between;
  background-color: #4056a1;
  font-size: 36px;
  color : #FFFFFF;
  height : 120px;
  padding-left: 1.5em;
  padding-right : 1.5em;
  width: 100%;
  position: fixed;
}
.logo {
  display: flex;
  font-family: 'Bungee';
  align-items: center;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 24px
}
i {
  display: flex;
  font-size: 24px;
  vertical-align: bottom;
}