
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056a1;
  font-size: 36px;
  color : #FFFFFF;
  height : 120px;
  padding-left: 1.5em;
  padding-right : 1.5em;
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar-logo {
  font-family: 'Bungee', cursive;

}
.navbar-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-menu p{
  font-size: 24px
}
.navbar-menu i{
  color : red;
  font-size: 0.6em;
  margin-top: -15px;
}